html{
    background-color: #333232;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
height: 200px;
width: 700px;
margin: 0 auto;
background-color: #F5E4C3;
border: 5px solid #88B169;

display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(3, 1fr);

}

.label {
    align-self: center;
    justify-self: center;
    font-size: 30px;
    font-weight: bold;
}

#Work {
    grid-area: 1/2/1/2;
}

#Break {
    grid-area: 1/4/1/4;
}
#Cycles {
    grid-area: 1/3/1/3;

}

.timer{
    display: flex;
    align-self:center ;
    justify-self: center;
    font-size: 30px;
    font-weight: bold;


}

p {
    margin: 0;
    padding: 0;
}

#counter {
    grid-area: 2 / 3 / 2 / 3;
    color: red;
}

#work-timer {
    grid-area: 2 / 2 / 2 / 2;
}

#Break-timer {
    grid-area: 2 / 4 / 2 / 4;
}


.btn{

    align-self: center;
    justify-self: center;
    width: 100px;
    height: 30px;
    font-size: 20px;
}

#start {
    grid-area: 3 / 2 / 3 / 2;
}

/* Styling for the reset button */
#reset {
    grid-area: 3 / 3 / 3 / 3;
}

/* Styling for the stop button */
#stop {
    grid-area: 3 / 4 / 3 / 4;
}

